
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{place.name}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        {{place.name}}
      </h1>
      <a href="/">Back To Home</a> 

    </div>
    <hr> 

    <div class="columns">
                <div class="column">
                                <strong> Places to Eat </strong>

                                {% for f in foodRev %}
                                        <p> Created On: {{f.created_at}}</p>
                                        <p> Name: {{f.body}} </p>
                                       <p> Price: {{f.price}} / 10</p>
                                       <p> Rating: {{f.rating}} / 10</p>
                                        <hr>
                                {% endfor %}
                </div>
                <div class="column">
                                <strong> Places to Stay </strong>

                                {% for s in stayRev %}
                                        <p> Created On: {{s.created_at}}</p>
                                        <p> Name: {{s.body}} </p>
                                       <p> Price: {{s.price}} / 10</p>
                                       <p> Rating: {{s.rating}} / 10</p>
                                        <hr>
                                {% endfor %}
                </div>
                <div class="column">
                                <strong> Places to Tour </strong>

                                {% for t in tourRev %}
                                       <p> Created On: {{t.created_at}}</p>
                                       <p> Name: {{t.body}} </p>
                                       <p> Price: {{t.price}} / 10</p>
                                       <p> Rating: {{t.rating}} / 10</p>
                                        <hr>

                                {% endfor %}
                </div>
              </div>


<strong>Add A New Review</strong> 

<h5> Food Review </h5>
<form method="POST" action={{place.urlName}}>
    {% csrf_token %}
    <p>Create New Food Review</p>
    <input name="name" placeholder="Name" />
    <input name="price" placeholder="Price" />
    <input name="rating" placeholder="Rating" />
    <input type="submit" name="food" value="Create"/>
</form>
<hr>
<h5> Stay Review </h5>
<form method="POST" action={{place.urlName}}>
    {% csrf_token %}
    <p>Create New Stay Review</p>
    <input name="name" placeholder="Name" />
    <input name="price" placeholder="Price" />
    <input name="rating" placeholder="Rating" />
    <input type="submit" name="stay" value="Create"/>
</form>
<hr>
<h5> Tour Review </h5>
<form method="POST" action={{place.urlName}}>
    {% csrf_token %}
    <p>Create New Tour Review</p>
    <input name="name" placeholder="Name" />
    <input name="price" placeholder="Price" />
    <input name="rating" placeholder="Rating" />
    <input type="submit" name="tour" value="Create"/>
</form>

  </section>
  </body>
</html>